
section{
	margin-top: 20px;
}


.choisi{
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	height: 50px;
	width: 100px;
}

.choisi2{
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100px;
	color: white;
}

.choisi2 a{
	margin-top: 20px;
}

#button-valider{
	margin-top: 10px;
	width: 100px;
}